# running in debug mode or not ?
JW_DEBUG = False
# number of notes to get for each page
JW_PAGINATOR = 20
# listen port number
JW_HTTP_PORT = 8001
# the token ID you grab from the WebClipper config page with your Joplin
JOPLIN_WEBCLIPPER_TOKEN = ''
# path to get the joplin `resources` to be able to display them
JOPLIN_RESOURCES = '/data/resources/'
# BASE URL of the Joplin APP
JW_BASE_URL = '/'
