JW_DEBUG = False   # running in debug mode or not ?
JW_PAGINATOR = 20   # number of notes to get for each page
JW_HTTP_PORT = 8001   # listen port number
JOPLIN_WEBCLIPPER_TOKEN = ''   # the token ID you grab from the WebClipper config page with your Joplin
JOPLIN_RESOURCES = '/home/doe/.config/joplin-desktop/resources/'   # path to get the joplin `resources` to be able to display them
