SECRET_KEY=TOBEDEFINED!
DEBUG=True
ALLOWED_HOSTS=['127.0.0.1', 'localhost']
LANGUAGE_CODE='en-us'
JOPLIN_PATH='/home/foxmask/.config/joplin-desktop/'
JOPLIN_PROFILE_PATH='/home/foxmask/.config/joplin-desktop/'